body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #777;
}

.menu a:hover {
  background-color: #999;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 10px;
}

h1 {
  color: #fff;
}

h2 {
  margin-top: 30px;
}

.jogador {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.jogador img {
  width: 100%;
  height: auto;
}

.jogador p {
  text-align: center;
  margin-top: 5px;
}

#detalhes_jogador {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

#detalhes_jogador img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
}

#detalhes_jogador h3 {
  text-align: center;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.valor {
  margin-left: 5px;
}

/* Estilos para a página inicial (index.html) */
#elenco_feminino,
#elenco_masculino {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.jogador {
  width: calc(100% / 6);
  padding: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .jogador {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 768px) {
  #elenco_feminino,
  #elenco_masculino {
    justify-content: center;
  }

  .jogador {
    width: calc(100% / 2);
  }
}

/* Estilos para a página de detalhes (detalhes.html) */
#detalhes_jogador {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  #detalhes_jogador {
    flex-direction: column;
    align-items: center;
  }

  #detalhes_jogador p {
    margin-top: 10px;
    text-align: center;
  }
}
