body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #777;
}
  
.menu a:hover {
    background-color: #999;
}
  
nav ul {
    list-style: none;
    display: flex;
}
  
nav ul li {
    margin-left: 10px;
}

  
  #calendario {
    margin: 50px auto;
    max-width: 700px;
    padding: 0 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  
  caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  @media (max-width: 600px) {
    table {
      font-size: 14px;
    }
  }